<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.small_design.dao.dao.UserMapper">

    <resultMap id="BaseResultMap" type="cn.com.small_design.dao.dao.pojo.User">
        <id property="id" column="F_ID" jdbcType="INTEGER"/>
        <result property="loginName" column="F_LOGIN_USER_NAME" jdbcType="VARCHAR"/>
        <result property="username" column="F_USER_NAME" jdbcType="VARCHAR"/>
        <result property="password" column="F_PASSWORD" jdbcType="VARCHAR"/>
        <result property="sex" column="F_SEX" jdbcType="CHAR"/>
        <result property="age" column="F_AGE" jdbcType="TINYINT"/>
        <result property="email" column="F_EMAIL" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="F_PHONE_NUMBER" jdbcType="VARCHAR"/>
        <result property="userType" column="F_USER_TYPE" jdbcType="CHAR"/>
        <result property="createTime" column="F_CREATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumn" >
        F_ID,F_LOGIN_USER_NAME,F_USER_NAME,F_PASSWORD,F_SEX,F_AGE,F_EMAIL,F_PHONE_NUMBER,F_USER_TYPE,F_CREATE_TIME
    </sql>

    <select id="queryUserByUsername" resultMap="BaseResultMap" >
        select
            <include refid="baseColumn"/>
        from
             t_tis_user
        where
            f_login_user_name = #{username}
    </select>

    <insert id="addUser">
        insert into
            t_tis_user(<include refid="baseColumn"/> )
        values(
            #{user.id,jdbcType=VARCHAR},
            #{user.loginName,jdbcType=VARCHAR},
            #{user.username,jdbcType=VARCHAR},
            #{user.password,jdbcType=VARCHAR},
            #{user.sex,jdbcType=CHAR},
            #{user.age,jdbcType=TINYINT},
            #{user.email,jdbcType=VARCHAR},
            #{user.phoneNumber,jdbcType=VARCHAR},
            #{user.userType,jdbcType=CHAR},
            now()
            )
    </insert>

    <select id="queryAll" resultMap="BaseResultMap">
        select
            <include refid="baseColumn"/>
        from
            t_tis_user
    </select>

    <update id="update" parameterType="cn.com.small_design.dao.dao.pojo.User">
        update
        t_tis_user
        <set>
            <if test="loginName != null and loginName != '' ">
                F_LOGIN_USER_NAME = #{loginName,jdbcType=VARCHAR}
            </if>
            <if test="username != null and username != '' ">
                F_USER_NAME = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != '' ">
                F_PASSWORD = #{password,jdbcType=VARCHAR}
            </if>
            <if test="sex != null and sex != '' ">
                F_SEX = #{sex,jdbcType=CHAR}
            </if>
            <if test="age != null and age != '' ">
                F_AGE = #{age,jdbcType=TINYINT}
            </if>
            <if test="email != null and email != '' ">
                F_EMAIL = #{email,jdbcType=VARCHAR}
            </if>
            <if test="phoneNumber != null and phoneNumber != '' ">
                F_PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR}
            </if>
            <if test="userType != null and userType != '' ">
                F_USER_TYPE = #{userType,jdbcType=CHAR}
            </if>
        </set>
        where F_ID = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" >
        delete t_tis_user where F_ID = #{id,jdbcType=VARCHAR}
    </delete>
</mapper>